@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
html,
body{
	min-height: 100%;
	height: 100%;
}

body{
	background: #DCDFDC;
	font-family: 'Roboto Slab', serif;
	color: #424440;
}

/* header */
header#header {
	background: url('images/header.png') no-repeat 50%;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 150px 0;
}
	header#header h1{
		margin: 0;
		
		font-weight: 700;
		font-size: 80px;
		color: #fff;
	}
	header#header span{
		color: #fff;
		font-weight: 300;
		font-size: 12px;

		display: inline-block;
		margin-top: 30px;
	}

/* content */
#content_wrapper{
	margin-top: 30px;
	/*margin-bottom: 30px;*/
}

/* item */
.item{
	background: #fff;
	margin-bottom: 30px;
}
	.item .top{
		padding: 30px;
	}
		.item .title{
			color: #424440;
			text-transform: uppercase;
			font-weight: 700;

			-webkit-transition: color .3s ease-in-out;
			-o-transition: color .3s ease-in-out;
			transition: color .3s ease-in-out;
		}
			.item .title:hover,
			.item .author span{
				color: #6E8CA6;
				text-decoration: none;
			}
		.item .author,
		.item .date,
		.item .views{
			color: #BEC3B5;
		}
	.item .mid{
	
	}
	.item .bot{
		padding: 30px;

		color: #8D9181;
    font-weight: 300;
    font-size: 16px;
	}
		.item .bot a{
			color: #6E8CA6;
			text-decoration: underline;
		}
		.item .bot img{
			margin: 15px 0;
		}
	.item .afterbot{
		padding: 0 30px 20px;
	}
		.item .views {
			margin-top: 10px;
		}
		.item .continue_reading{
			padding: 10px 25px;
			
			display: inline-block;

			background: #6E8CA6;
			color: #fff;
		}

	/* item on view */
	.item .view_title{
		font-size: 55px;
		color: #424440;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0;
	}

/* preview */
#preload{
	width: 100%;
	height: 100vh;
}
	#preload aside {
		width: 250px;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;

		background: rgba(0,0,0, .3);
	}
		#preload p{
			padding: 15px;
			color: #fff;
		}
		#preload img{
			width: 100px;
			margin: 0 auto;
		}
	#preload .preload_off_btn{
		display: block;
		padding: 16px;
		
		text-align: center;
	}
	