body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(-45deg, #ee7752, #75bdd1, #23a6d5, #226689);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  padding: 64px 24px 24px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.app {
  max-width: 800px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.download {
  position: fixed;
  top: 8px;
  right: 8px;
}

a {
  color: #226689;
}

@media print {
  .app {
    box-shadow: none;
  }
  body {
    background: #fff;
  }
  @page {
    margin: 1cm;
    size: auto; 
    page-break-before: always;
  }
  p {
    widows: 4;
    orphans: 3;
  }​
  li {
    page-break-before: always;
    page-break-inside: avoid;
  }
}
