body {
  margin: 0;
  padding: 64px 8px 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: #226689;
}

.app {
  max-width: 800px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.download {
  position: fixed;
  top: 8px;
  right: 8px;
}

a {
  color: #226689;
  transition: color .25s ease-in-out;
}
a:hover {
  color: #ee7752;
}

@media print {
  .app {
    box-shadow: none;
  }
  body {
    background: #fff;
  }
  .download {
    display: none;
  }
  @page {
    margin: 1cm;
    size: auto; 
    page-break-before: always;
  }
  p {
    widows: 4;
    orphans: 3;
    page-break-inside: avoid;
  }​
  li {
    page-break-before: always;
    page-break-inside: avoid;
  }
}
